/* GENERAL //////////////x//////////////////////////////////////*/
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #f4f7ff;
	background-image: radial-gradient(#eed1f6, #f4f7ff);
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

body,
input,
button {
	font-family: 'Varela Round', sans-serif;
	/*font-family: 'Poppins', sans-serif;*/
	font-size: 14px;
	letter-spacing: 1px;
	color: #919eaf;
}

button,
input[type="checkbox"] {
		cursor: pointer;
}

a {
	color: #722cdb;
	text-decoration: none;
}

h1 {
	font-family: 'Varela Round', sans-serif;
	margin: 0;
	padding: 5px 0 10px 0;
	color: #41445c;
	font-size: 30px;
}

h2 {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	padding: 5px 0 10px 0;
}

/* LOGIN //////////////////////////////////////////////////////*/

.wrapper {
	width: 90%;
	max-width: 900px;
	height: auto;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;
	border-radius: 10px;

}

.grid {
	box-shadow: 0px 0px 30px #00000057;
	background-color: white;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-column-gap: 0px;
 	grid-row-gap: 0px;
 	border-radius: 10px;
}

.content {
	margin: 0 auto;
	text-align: left;
	padding: 40px;
	padding-top: 100px;
	padding-bottom: 60px;
	height: auto;

}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
	color: #e8e8e8;
	opacity: 1; /* Firefox */
}

input[type="text"],
input[type="password"] {
	width: calc(100% - 24px);
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid #e8e8e8;
}

.username {
	display: block;
	margin: 0 auto;
}

.password {
	display: block;
	margin: 0 auto;
}

.formChecks {
	display: inline-block;
	width: 100%;
}

.forgot {
	float: right;
}

.forgot a {
	color: #722cdb;
	text-decoration: none;
}

.remember {
	float: left;
	display: inline-block;
}

#login,
#signUp {
	background-color: #722cdb;
	background-image: linear-gradient(to left, #722cdb, #6666f1);
	color: white;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.icon {
	width: 15px;
	height: 15px;
	margin-right: 10px;
	vertical-align: middle;
}

.facebook,
.google {
	background-color: white;
	color: white;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.facebook {
	color: #39579b;
	border: 1px solid #39579b;
}

.google {
	color: #3f81f5;
	border: 1px solid #3f81f5;
}

.error {
	color: red;
	font-size: 12px;
	font-style: italic;
}

/* FLIP //////////////////////////////////////////////////////*/
.back {
	transform: rotateY(180deg);
}

.back,
.front {
	position: absolute;
	backface-visibility: hidden;
}

.card {
	transform-style: preserve-3d;
	position: relative;
	transition: transform 0.8s;
}

.flip {
	transform: rotateY(180deg);
	transition: transform 0.8s;
}

.welcome {
	transform: translateY(1000px);
	display: none;
	width: 90%;
	padding: 30px 20px;
	box-shadow: 0px 0px 30px #00000057;
	background-color: white;
 	border-radius: 10px;
	text-align: center;
}

.welcome p {
	font-size: 40px;
	text-transform: uppercase;
}

.welcome img {
	width: 50%;
	border-radius: 10px;
}

/* ANIMATIONS ////////////////////////////////////////////////*/

.slideUp {
	transform: translateY(-1000px);
	transition: transform 0.8s;
}

.slideIn {
	transform: translateY(0px);
	transition: transform 0.8s;
	display: inline-block;
}



/* FEATURE IMAGE ////////////////////////////////////////////////*/

.featureImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	/*justify-self: stretch;*/
}

/* RESPONSIVE //////////////////////////////////////////////////*/
@media screen and (max-width: 1200px) {
	.formChecks {
		display: block;
		text-align: center;
	}
	.remember {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.forgot {
		display: block;
		margin: 0 auto;
		float: none;
	}
}

@media screen and (max-width: 900px) {
	h1 {
		font-size: 25px;
	}

	.grid {
		grid-template-columns: 50% 50%;
	}

}

@media screen and (max-width: 760px) {
	.signUpNav {
		display: block;
	}

}

@media screen and (max-width: 640px) {

	.grid {
		grid-template-columns: 100%;
		grid-template-rows: 20vh auto;
	}

	.content {
		grid-row-start: 2;
		padding: 5% 20% 15% 20%;
	}

	.featureImage {
		grid-row-start: 1;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 0px;
	}

}

@media screen and (max-width: 450px) {
	.content {
		grid-row-start: 2;
		padding: 5% 10% 15% 10%;
	}
}
